*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav{
    font-family: "-apple-system", "BlinkMacSystemFont", "Segoe UI", "Roboto", "Helvetica Neue", "Arial", "Noto Sans", "sans-serif", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.link{
    color: #d5d0fbff;
}
.btn{
    border: 2px solid white;
    color: white;
    transition: all 0.4s ease;
}
.btn:hover{
    background:white;
    color: #5f4dee;
}
.hero-img{
    position: relative;
    bottom: -30px;
    left: -40px;
}
.svg{
    height: 160px;
    width: 100%;
}
.swiper{
    padding: 32px 0 !important;
}

.card{
    border-radius: 5px;
    border:1px solid #ccd3dfff;
}
.card h2{
    color:rgb(57, 68, 77)
}
.features{
    margin: 20px auto;
    width: fit-content;
    border-top: 2px solid #b7b3b3;
}
.fa-check{
    color: #5f4dee;
}
.fa-xmark{
    color: #0e0e0f;
}

.btn-signup{
    
    background:#5f4dee;
    border: 2px solid white;
    color: white;
    transition: all 0.4s ease;
}
.btn-signup:hover{
    background:white;
    border: 1px solid #5f4dee;
    color: #5f4dee;
}
.subscribe{
    background:#f3f7fdff;
    width: 60%;
    margin: 0 auto;
}

.input{
    width: 50%;
    position: relative;
}
 .input input{
    padding: 10px;
    outline: none;
    border:  1px solid black;
    border-radius: 5px;
   
 }
 /* float label  */
    .input input:focus ~ label,
    .input input:valid ~label{
       top: -1px; 
    }
 .input label{
    position: absolute;
    bottom: 3px;
    left: 0;
    padding: 10px;
    
 }
 button{
    background: #5f4dee;
    border-radius: 999px;
 }
 .button{
    width: 50%;
 }
 button:hover{
    background: white;
    border: 1px solid #5f4dee;
 }

 .link-icon{
    background-color: rgb(204, 45, 45);
    color: white;
    font-size: 30px;
    margin-right: 10px;
    border-radius: 50%;
    padding: 5px;
    transition: all 0.4s ease;
 }